/* shared styles */

body {
    font-family: 'Work Sans', sans-serif;
}

/* header starts */

header {
    background-image: url('../images/banner/banner1.png');
    max-width: 1600px;
    background-repeat: no-repeat;
}

main {
    max-width: 1000px;
}

.header {
    padding: 216px 230px 364px 845px;
    text-align: right;

}

.header-title {

    color: #151414;
    /* text-align: right; */
    font-size: 65px;
    font-weight: 700;

}

.header-description {
    color: #444343;
    /* text-align: right; */
    font-size: 16px;
    font-weight: 400;

}

.contact-btn {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    padding: 20px 21px 25px 26px;


}

/* failure section starts */
.failure {
    display: flex;
    align-items: center;
    padding: 0px 200px 0px 250px;
    /* margin: 20px 0px; */
    gap: 50px;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;


}

.section-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

ul li {
    color: #444343;
    f font-size: 16px;
    font-weight: 400;

}

/* my plan starts */
.my-plan {
    padding: 0px 200px 0px 500px;
}

.section-column-container {
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    gap: 30px;
    padding: 0px 200px 0px 250px;
}

.item {
    /* justify-content: center; */
    padding: 50px 30px;
    text-align: center;

}

.my-plan-section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;


}

.item-title {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;

}

.item-info {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;

}

.my-plan img {
    text-align: center;
}

/* positive mindset starts */

.positive-mindset {
    background-image: url('../images/watch.png');
    background-position: ;
    width: 1140px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 50;
/* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%); */
}

.third-section-container {
    padding: 50px 250px 50px 50px;
}
/* footer starts */
.footer-container{
    width: 1600px;
    height: 577px;
    background: var(--Dark-01, #151414);
    display: flex;
    /* justify-content: space-between; */
    justify-content: ;
}
.footer-column-title{
    color: #F8F8F8;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-description{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */

}
.footer-column-left{
    padding: 100px 885px 100px 150px;
}
.footer-column-title{
    color: #FFF;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.input-footer{
    width: 325px;
height: 64px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #FFF;
}
.footer-column{
    padding: 100px 100px 100px 100px;
}